#header-nav{
	padding: 15px 0 15px;
}

.navbar-brand{
	padding: 0px 20px 0px;
}

h1{
	margin: 5px 20px 10px;
}

h3{
	background-color: #DAF7A6;
	margin: 0;
	padding: 15px 0;
}

section{
	margin: 30px;
}

p{
    background-color: #DAF7A6;
	height: 1000px;
	padding: 0px 10px 10px 10px;
}
